<div class="visitor-list">
  <h2 class="title">Visitor List</h2>

  <!-- Visitor Card Section -->
  <div class="visitor-card">

    <!-- Visitor Header Section -->
    <div class="visitor-header">
      <h3 class="visitor-name">{{ visitorDetails.name }}</h3>
      <p class="visitor-info"><strong>Phone:</strong> {{ visitorDetails.phone }}</p>
      <p class="visitor-info"><strong>National ID:</strong> {{ visitorDetails.ssn }}</p>
      <p class="visitor-info"><strong>Address:</strong> {{ visitorDetails.address }}</p>
      <p class="visitor-info"><strong>Date of Birth:</strong> {{ visitorDetails.dob }}</p>
      <p class="visitor-info"><strong>Place of Birth:</strong> {{ visitorDetails.pob }}</p>
      <p class="visitor-info"><strong>Gender:</strong> {{ visitorDetails.gender }}</p>
      <p class="visitor-info"><strong>Visitee:</strong> {{ visitorDetails.visitee }}</p>
    </div>
  </div> <!-- End of visitor card -->
</div> <!-- End of visitor list -->
