<app-navbar/>
<div class="visitor-list">

  <!-- Visitor Card Section -->
  <div class="visitor-card">
    <div class="left-column">


      <!-- Display the visitor's image -->
      <div *ngIf="imageUrl; else noImage">
        <img [src]="imageUrl" alt="Visitor Image" style="width: 200px; height: 200px; border-radius: 50%;">
      </div>
      <ng-template #noImage>
        <p>No image available</p>
      </ng-template>
      <h3 class="user-name">{{ visitorDetails.name }}</h3>
      <p class="phone">Phone: {{ visitorDetails.phone }}</p>
      <div class="download-section">
        <button (click)="loadVisitorID()" class="download-button">Preview ID</button>
      </div>
    </div>
  </div>
    <!-- Visitor Header Section -->
    <div class="center-column">
      <h4>Personal Information</h4>
      <div class="personal-section">
      <p class="visitor-info"><strong>Gender:</strong> {{ visitorDetails.gender }}</p>
      <p class="visitor-info"><strong>National ID:</strong> {{ visitorDetails.ssn }}</p>
      <p class="visitor-info"><strong>Address:</strong> {{ visitorDetails.address }}</p>
      <p class="visitor-info"><strong>Date of Birth:</strong> {{ visitorDetails.dob }}</p>
      <p class="visitor-info"><strong>Place of Birth:</strong> {{ visitorDetails.pob }}</p>
    </div>
    </div>
</div> <!-- End of visitor list -->
