<div class="table-container">
  <h2 class="title">Candidates</h2>

  <div class="table-wrapper">
    <table class="data-table">
      <thead>
      <tr>
        <th>National ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (candidate of candidates; track $index) {
          <tr>
            <td>{{ candidate.ssn }}</td>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.email }}</td>
            <td>{{ candidate.phone }}</td>
            <td>{{ candidate.address }}</td>
            <td>
              <button class="btn-action" [routerLink]="['/candidateDetails']" [state]="{ data: candidate }">
                View Details
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
