<!-- Navbar Section -->
<!--<nav class="navbar">-->
<!--  -->
<!--</nav>-->

<!-- Admin Dashboard HTML -->
<div class="sidebar">
  <div class="navbar-logo">
    <img src="assets/logo2.png" alt="ntg-logo" class="logo" />
  </div>
  <div class="logo-item" (click)="navigateTo('logList')">
    <img src="assets/attendant-list.png" alt="Entry Logs" class="logo-img" style="margin-top : 60px ; " />
  </div>
  <div class="logo-item" (click)="navigateTo('createAdmin')">
    <img src="assets/setting.png" alt="Create Admin" class="logo-img" />
  </div>
  <div class="logo-item" (click)="navigateTo('visitorList')">
    <img src="assets/id-card%20(1).png" alt="Visitors" class="logo-img" />
  </div>
  <div class="logo-item" (click)="navigateTo('candidateList')">
    <img src="assets/choosing.png" alt="Candidates" class="logo-img" />
  </div>
  <button class="logo-item" id="logoutBtn" (click)="logout()">
    <img src="assets/output-onlinepngtools.png" alt="Logout" class="logo-img" />
  </button>
</div>

<!-- Data Summary Section (Modern Analysis) -->

<div class="data-summary">
  <!-- Candidates Section -->
  <div class="data-role red">
    <h3>total number of candidates </h3>
    <p class="big-number">{{ allTime_candidates }}</p>
  </div>

  <!-- Visitors Section -->
  <div class="data-role blue">
    <h3>total number of visitors</h3>
    <p class="big-number">{{ allTime_visitors }}</p>
  </div>

  <!-- Today Candidates Section -->
  <div class="data-role green">
    <h3>Today's Candidates count</h3>
    <p class="big-number">{{ today_candidates }}</p>
  </div>

  <!-- Today Visitors Section -->
  <div class="data-role yellow">
    <h3>Today's Visitors count</h3>
    <p class="big-number">{{ today_visitors }}</p>
  </div>

  <!-- This Month Candidates Section -->
  <div class="data-role orange">
    <h3>This Month Candidates count</h3>
    <p class="big-number">{{ month_candidates }}</p>
  </div>

  <!-- This Month Visitors Section -->
  <div class="data-role purple">
    <h3>This Month Visitors count</h3>
    <p class="big-number">{{ month_visitors }}</p>
  </div>

  <app-chart></app-chart>

</div>

<!-- Footer Section -->
<!--<div class="footer">-->
<!--  <p>For any inquiries, contact support at <a href="mailto:it&#64;ntgclarity.com">it&#64;ntgclarity.com</a></p>-->
<!--</div>-->
