body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 20;
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.logout-button:hover {
  transform: scale(1.1);
}

.logo {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

.header-title {
  text-align: center;
  margin-top: 30px;
  color: #C9261D;
  font-size: 28px;
  font-weight: 600;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 100px;
  flex-grow: 1;
}

.logo-container .logo-item {
  text-align: center;
  margin-bottom: 50px;
  flex: 1 0 45%;
  max-width: 200px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.logo-container .logo-item:hover {
  transform: translateY(-5px);
}

.logo-img {
  width: 150px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.logo-img:hover {
  transform: scale(1.1);
}

.logo-text {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ac2925;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  z-index: 10;
}

.footer p {
  font-size: 14px;
  margin: 5px 0;
}

.footer a {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
