<style>
  .line {
    height: 6px;
    width: 400px;
    background-color:  #C9261D;
    margin: 10px auto; /* Center the line horizontally */
  }
</style>

<!-- Admin Dashboard HTML -->
<img src="assets/logout.png" alt="Logout" class="logout-button" />
<img src="assets/logo2.png" alt="ntg-logo" class="logo" />

<h2 class="text-center" style="font-family: 'Segoe UI Semibold'; ">Admin Dashboard</h2>

<div class="line"></div> <!-- Red line above logos -->

<div class="logo-container">
  <div class="logo-item" (click)="navigateTo('logList')">
    <img src="assets/immigration.png" alt="Entry Logs" class="logo-img"/>
    <div class="logo-text">Entry Logs</div>
  </div>
  <div class="logo-item" (click)="navigateTo('createAdmin')">
    <img src="assets/admin.png" alt="Create Admin" class="logo-img"/>
    <div class="logo-text">Create Admin</div>
  </div>
  <div class="logo-item" (click)="navigateTo('visitorList')">
    <img src="assets/id-card.png" alt="Visitors" class="logo-img"/>
    <div class="logo-text">Visitors</div>
  </div>
  <div class="logo-item" (click)="navigateTo('candidateList')">
    <img src="assets/candidate.png" alt="Candidates" class="logo-img"/>
    <div class="logo-text">Candidates</div>
  </div>
</div>



<div class="footer">
  <p>For any inquiries, contact support at <a href="mailto:it&#64;ntgclarity.com">it&#64;ntgclarity.com</a></p>
</div>


