<div class="container d-flex justify-content-center align-items-center vh-100 bg-white">
  @if (loading) {
    <app-ntg-apps-loader/>
  } @else {
    <div class="card shadow-lg p-4 rounded" style="width: 400px;">

      <!-- Image added here -->
      <div class="text-center mb-4">
        <img alt="Description of the image" src="assets/logo2.png" style="max-width: 60%; height: auto;">
      </div>

      <h2 class="text-center mb-4">Login</h2>

      <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" formControlName="email" id="email" required type="email" />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
          </div>
        </div>
        <div class="mb-4">
          <label class="form-label" for="password">Password</label>
          <input
            class="form-control"
            formControlName="password"
            id="password"
            required
            type="password"
          />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            <small>Password is required.</small>
          </div>
        </div>
<!--        <div class="text-center mt-3">-->
<!--          <a routerLink="/home" class="forgot-password-link">Forgot Password?</a>-->
<!--        </div>-->
        <button
          [disabled]="loginForm.invalid"
          class="btn btn-block rounded"
          style="width: 100%; padding: 12px; background: linear-gradient(90deg, #950e0e, #ec1c1c); border: none; color: #f1ebeb; font-weight: bold;"
          type="submit"
        >
          Login
        </button>
      </form>

      <!-- Text button for forget password -->
      <div class="text-center mt-3">
        <a
          class="text-muted"
          style="cursor: pointer; text-decoration: underline;"
          (click)="onForgotPassword()"
        >
          Forgot Password?
        </a>
      </div>
    </div>
  }
</div>
<p-toast></p-toast>
