body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
  padding-top: 5px;
}

.candidate-list {
  max-width: 800px;
  margin: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  text-align: center;
  color: #c0392b; /* Red color */
  margin-bottom: 20px;
  font-size: 24px;
}

.candidate-card {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;
}

.candidate-header {
  border-bottom: 2px solid #c0392b; /* Red color */
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.candidate-name {
  font-size: 28px;
  color: #333;
  margin: 0;
}

.candidate-header p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.candidate-header span {
  font-weight: bold;
  color: #333;
}

.candidate-body {
  margin-top: 15px;
}

.education-section,
.experience-section {
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  color: #c0392b; /* Red color */
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.education-item,
.experience-item {
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.education-item:hover,
.experience-item:hover {
  background-color: #f1f1f1;
}

.university {
  font-weight: bold;
  font-size : 18px;
  color: #c0392b; /* Red color */
}

strong {
  color: #333;
}
