<app-navbar></app-navbar>

<div class="candidate-card">
  <div class="left-column">


    <!-- Display the visitor's image -->
    <div *ngIf="imageUrl; else noImage">
      <img [src]="imageUrl" alt="Visitor Image" style="width: 200px; height: 200px; border-radius: 50%;">
    </div>
    <ng-template #noImage>
      <p>No image available</p>
    </ng-template>

    <h3 class="user-name">{{ candidateDetails.name }}</h3>
    <p class="phone">Phone: {{ candidateDetails.phone }}</p>

    <div class="download-section">
      <button (click)="downloadCv()" class="download-button">Preview CV</button>
      <button (click)="loadCandidateID()" class="download-button">Preview ID</button>
    </div>
  </div>

  <div class="center-column">
    <h4>Personal Information</h4>
    <div class="personal-section">
    <p><strong>Job title:</strong> {{ candidateDetails.job_title }}</p>
    <p><strong>Email:</strong> {{ candidateDetails.email }}</p>
    <p><strong>National ID:</strong> {{ candidateDetails.ssn }}</p>
    <p><strong>Address:</strong> {{ candidateDetails.address }}</p>
    <p><strong>Date of Birth:</strong> {{ candidateDetails.dob }}</p>
    <p><strong>Place of Birth:</strong> {{ candidateDetails.pob }}</p>
    <p><strong>Gender:</strong> {{ candidateDetails.gender }}</p>
    <p><strong>Marital Status:</strong> {{ candidateDetails.martial_status }}</p>
    <p><strong>Military Status:</strong> {{ candidateDetails.military_status }}</p>
    </div>
  </div>

  <div class="right-column">
    <div *ngIf="educations && educations.length > 0">
      <h4>Education Information</h4>
      <div *ngFor="let education of educations; index as i" class="education-section">
        <ul>
          <li><strong>University Name:</strong> {{ education.university }}</li>
          <li><strong>Major:</strong> {{ education.major }}</li>
          <li><strong>Degree:</strong> {{ education.degree }}</li>
          <li><strong>Grade:</strong> {{ education.grade }}</li>
          <li><strong>Graduation Year:</strong> {{ education.date }}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- New Experience Column -->
  <div class="experience-column">
    <div *ngIf="experiences && experiences.length > 0">
      <h4>Experience Information</h4>
      <div class="experience-grid">
        <div *ngFor="let experience of experiences; index as i" class="experience-section">
          <ul>
            <li><strong>Company Name:</strong> {{ experience.company_name }}</li>
            <li><strong>Position:</strong> {{ experience.postion }}</li>
            <li><strong>Date:</strong> {{ experience.date }}</li>
            <li><strong>Reason for Leaving:</strong> {{ experience.reason }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
