<div class="candidate-list">
  <h2 class="title">Candidate List</h2>



    <!-- Candidate Card Section -->
    <div class="candidate-card">

      <!-- Candidate Header Section -->
      <div class="candidate-header">
        <h3 class="candidate-name">{{ candidateDetails.name }}</h3>
        <p class="candidate-email">Email: {{ candidateDetails.email }}</p>
        <p class="candidate-address">Address: {{ candidateDetails.address }}</p>
        <p class="candidate-dob">DOB: {{ candidateDetails.dob }}</p>
      </div>

       Candidate Body Section
      <div class="candidate-body">

        @for (education of educations; track $index) {
          Education Section
          <div class="education-section">
            <h4 class="candidate-name">Education</h4>
            <ul>
              <li>
                <p>{{ education.university }}</p>
              </li>
              <li>
                <p>Major: {{ education.major }}</p>
              </li>
              <li>
                <p>Year: {{ education.date }}</p>
              </li>

            </ul>
          </div>
        }

        @for (experience of experiences; track $index) {
        Experience Section
       <div class="experience-section">
         <h4 class="candidate-name">Experience</h4>
         <ul>
           <li>
             <p>{{ experience.company_name }}</p>
            </li>
            <li>
              <p>Position: {{ experience.position }}</p>
            </li>
            <li>
              <p>Year: {{ experience.end_date }}</p>
            </li>

          </ul>
        </div>
        }

      </div> <!-- End of candidate body -->
    </div> <!-- End of candidate card -->

</div> <!-- End of candidate list -->
