.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 20px;
}

.welcome-gif {
  max-width: 270px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
  position: relative;
}

.card {
  cursor: pointer;
  text-align: center;
}

.image-button {
  width: 160px;
  height: 160px;
  margin-left: 10px;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.image-button:hover {
  transform: scale(1.05);
}

h2 {
  margin-top: 10px;
  font-size: 18px;
}

/* Add a red border between the images */
.content::before {
  content: "";
  width: 6px; /* Make the border thicker */
  height: 210px;
  background-color: red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw; /* Ensures it spans the full viewport width */
  background-color: #ac2925;
  color: white;
  text-align: center;
  padding: 30px 0;
  font-size: 18px;
  z-index: 10;
}

.footer-logo {
  max-width: 200px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 16px;
  margin: 0;
}
