.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 20px;
}

.welcome-gif {
  max-width: 270px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
  position: relative;
}

.card {
  cursor: pointer;
  text-align: center;
}

.image-button {
  width: 160px;
  height: 160px;
  margin-left: 10px;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.image-button:hover {
  transform: scale(1.05);
}

h2 {
  margin-top: 10px;
  font-size: 18px;
}

/* Add a red border between the images */
.content::before {
  content: "";
  width: 6px; /* Make the border thicker */
  height: 210px;
  background-color: #c52e25;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.alreadySubmitted_btn {
  background-color: #c52e25; /* Pure red for buttons */
  display: block;
  margin: 0 auto;
  color: #ffffffff;
}

.alreadySubmitted_btn:hover {
  background-color: #8b3329; /* Darker red on hover */
}



.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #c52e25;
  color: white;
  text-align: center;
  padding: 15px 0; /* Reduced padding for a slimmer appearance */
  font-size: 16px; /* Adjusted font size for readability */
  z-index: 10;
}

.footer p {
  font-size: 14px; /* Slightly smaller font size for the text */
  margin: 5px 0;
}

/* Make footer responsive for smaller screens */
@media (max-width: 600px) {
  .footer {
    font-size: 14px; /* Further adjust font size for small screens */
    padding: 10px 0; /* Smaller padding on mobile */
  }
  .footer p {
    font-size: 12px;
  }
}
