  @if (loading) {
    <app-ntg-apps-loader/>
  } @else {
    <div class="container">
      <div class="header">
        <img alt="Welcome GIF" class="welcome-gif" src="assets/logo-animated.gif"/>
        <h1>Welcome to NTG Clarity Networks Inc.</h1>
      </div>

      <div class="content">
        <div class="contentVisitor">
          <div (click)="navigateTo('visitor')">
            <img alt="Visitor Image" class="image-button" src="assets/Hello-pana.png"/>
            <h2>Visitor</h2>
          </div>
        </div>
        <div class="contentCandidate">
          <div (click)="navigateTo('candidate2')">
            <img alt="Candidate Image" class="image-button" src="assets/Resume-amico.png"/>
            <h2>Candidate</h2>
          </div>
        </div>
      </div>

      <!-- Button for logEntry page -->
      <div class="already-submitted">
        <button (click)="navigateTo('alreadysexistOCR')" class="btn alreadySubmitted_btn">
          Already submitted before?
        </button>
      </div>

      <div class="footer">
        <p>All rights reserved for NTG.</p>
      </div>
    </div>
  }
