

<!-- Log Table -->
<div class="table-container">
  <h2 class="title">Log Table View</h2>

  <div class="filter-container">

  <div class="filter-icons">

    <!-- Today Filter -->
    <div class="filter-item">
      <button (click)="filterToday()">📅 Today Filter</button>
    </div>

    <!-- Date Filter -->
    <div class="filter-item">
      <button (click)="toggleDateFilter()">📅 Date Filter</button>
      <div *ngIf="showDateFilter">
        <input type="date" [(ngModel)]="filterRequest.startDate" placeholder="Start Date" />
        <input type="date" [(ngModel)]="filterRequest.endDate" placeholder="End Date" />
      </div>
    </div>

    <!-- Time Filter -->
    <div class="filter-item">
      <button (click)="toggleTimeFilter()">🕒 Time Filter</button>
      <div *ngIf="showTimeFilter">
        <input type="time" [(ngModel)]="filterRequest.startTime" placeholder="Start Time" />
        <input type="time" [(ngModel)]="filterRequest.endTime" placeholder="End Time" />
      </div>
    </div>

    <!-- Role Filter -->
    <div class="filter-item">
      <button (click)="toggleRoleFilter()">👥 Role Filter</button>
      <div *ngIf="showRoleFilter">
        <select [(ngModel)]="filterRequest.role">
          <option value="">All</option>
          <option value="candidate">Candidate</option>
          <option value="visitor">Visitor</option>
        </select>
      </div>
    </div>

    <button (click)="applyFilter()">🔍Apply</button>
    <button (click)="resetFilters()">🔃Reset</button>
  </div>
</div>


  @if (loading){
    <div class="loader"></div>
  } @else {
    <table class="data-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Date</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let log of logs;">
        <tr>
          <td>{{ log.name }}</td>
          <td>{{ log.role }}</td>
          <td>{{ log.date }}</td>
          <td>{{ log.time }}</td>
          <td>
            <button class="btn-action" [routerLink]="['/logDetails']" [state]="{ data: log }">
              View Details
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

  <div class="paginator-container">
    <mat-paginator
      (page)="onPageChange($event)" [length]="totalElements" [pageSizeOptions]="[10, 20, 30]" [pageSize]="size">
    </mat-paginator>
  </div>
  }
</div>
