.table-container {
  width: 90%;
  max-width: 1500px;
  margin: 30px auto;
  background-color: #fafafa; /* Soft background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Light shadow */
}

.title {
  text-align: center;
  font-size: 2rem;
  color:  #C9261D;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #e0e0e0;
}

.table-wrapper {
  overflow-x: auto; /* Allows horizontal scrolling if needed */
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th, .data-table td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.data-table th {
  background-color: #f5f5f5;
  color: #C9261D;
  font-weight: bold;
}

.data-table td {
  background-color: #ffffff;
  color: #444444;
}

.data-table tr:hover {
  background-color: #f0f0f0; /* Hover effect */
}

.btn-action {
  padding: 8px 15px;
  background-color:  #C9261D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-action:hover {
  background-color: #9e2626; /* Darker red on hover */
}


.btn-action:hover {
  background-color: #b71c1c;
}

.paginator-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.paginator-container button {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.paginator-container button:disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}

.paginator-container button:hover:not(:disabled) {
  background-color: #b71c1c;
}
