<div class="center-content">
  <img src="assets/password.png" alt="Visitor Image" class="image-button" />
  <h2 class="text-danger">Change Password</h2>
</div>

<style>
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 55vh;
  }

  .image-button {
    max-width: 250px;
    height: auto;
  }

  .form-container {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-field {
    margin-bottom: 15px;
    text-align: left;
  }

  .form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-field input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-button,
  .resend-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
  }

  .submit-button {
    background-color: #28a745;
    color: #fff;
  }

  .resend-button {
    background-color: #007bff;
    color: #fff;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .spinner {
    margin-left: 5px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<h6 class="text-danger text-center">Please provide a new password for your account</h6>

<div class="form-container">
  <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
    <!-- Password Field -->
    <div class="form-field">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" placeholder="Enter new password" required>
      <div *ngIf="changePassword.get('password')?.invalid && changePassword.get('password')?.touched" class="error-message">
        Password is required.
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="form-field">
      <label for="ConfirmPassword">Confirm Password</label>
      <input id="ConfirmPassword" formControlName="ConfirmPassword" type="password" placeholder="Re-enter your password" required>
      <div *ngIf="changePassword.hasError('passwordsMismatch')" class="error-message">
        Password and Confirm Password do not match.
      </div>
      <div *ngIf="changePassword.get('ConfirmPassword')?.invalid && changePassword.get('ConfirmPassword')?.touched" class="error-message">
        Confirm Password is required.
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="submit-button">Submit
      <span *ngIf="isLoading" class="spinner"></span>
    </button>


  </form>
</div>

<p-toast></p-toast>
