<app-navbar/>
<div class="table-container">

  <div class="search-bar-container">
    <input type="text" class="search-bar" placeholder="Search visitors..." [(ngModel)]="searchQuery" (input)="onSearch()" />

    <button class="reset-icon" (click)="resetFilters()">
      <i class="material-icons">close</i>
    </button>
  </div>
  @if (loading){
    <app-loader/>
  } @else {
    <div class="table-wrapper">
      <table class="data-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>DOB</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          @for (visitor of visitors; track $index) {
            <tr>
              <td>{{ visitor.name }}</td>
              <td>{{ visitor.dob }}</td>
              <td>{{ visitor.phone }}</td>
              <td>{{ visitor.address }}</td>
              <td>
                <button class="btn-action" [routerLink]="['/visitorDetails']" [state]="{ data: visitor }">
                  View Details
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <div class="paginator-container">
        <mat-paginator
          (page)="onPageChange($event)" [length]="totalElements" [pageSizeOptions]="[10, 20, 30]" [pageSize]="size">
        </mat-paginator>
      </div>
    </div>
  }


</div>
